<!--Shahriar Tanvir, Centennial College, Student ID: 301160628-->
<!--About Section-->
<body class="bg-dark bg-gradient" style="background-repeat: no-repeat">
  <main class="container text-light mx-auto">
    <div class="fs-5 p-5 lead rounded-3">
      <h1><span class="d-block text-center display-4">Bio</span></h1>
      <hr />
      <p>
        A Full Stack Software Developer who can write efficient, reliable and robust code for front end and back-end. Like to learn and adapt to new technologies through self-advancement and training.
      </p>
    </div>
    <div class="fs-5 p-5 lead rounded-3">
      <h1>
        <span class="d-block text-center display-4">Professional Profile</span>
      </h1>
      <hr />
      <ul>

      <li>Student of Software Engineering Technology Advanced Diploma program at Centennial College</li>
      <li>
        Having fundamental knowledge of object-oriented software design, user-oriented interface design, frontend web development and backend technologies
      </li>
      </li>
      <li>Able to develop clean, scalable, and responsive websites and web applications
      </li>
        <li>
          Can work under pressure, meet deadlines and handle multiple projects simultaneously
        </li>

        <li>
          A team player driven to achieve project objectives with efficiency and
          accuracy
        
      
      </ul>
    </div>
  </main>

  	
  	
  	Excellent coding skill with strong analytical and problem-solving ability
  	Excellent communication and collaboration skills
  	
  	
  	Ability to work effectively in both individual and team-oriented environments
  