<!--Shahriar Tanvir, Centennial College, Student ID: 301160628-->
<!-- Home Page Body -->

<div class="container-fluid bg-light bg-gradient mb-2 mx-auto">
  <div class=" text-center">
    <h1 class="display-1">SHAHRIAR TANVIR</h1>
    <h6 class="display-6">Software Developer | Web Designer</h6>
    <hr />
  </div>
  
  <div class="d-flex mx-auto">
    <div
      class="
        d-lg-inline-flex
        mx-auto
        align-items-center
        justify-content-center
        align-content-center
      "
    >

    
      <div class="jumbotron text-center m-3 ">
        <br />
        <h1 class="display-4 display-sm-3">Mission Statement</h1>
        <hr />
        <p class="lead">
        Enhance business growth of yours with creative design, development and to deliver market defining high quality solutions that create value and reliable competitive advantage to customers around the globe
        </p>
        <div class="btn d-block mx-auto">
          <a
            href="./Assets/downloads/Shahriar Tanvir_Resume.docx"
            class="btn btn-primary m-2 p-2"
            aria-current="page"
            >Get Resume</a
          >
          <a href="/contact" class="btn btn-primary m-2 p-2">Contact Me</a>
        </div>
      </div>
      <div class="">
        <img
          src="./Assets/images/shahriar_image.jpg"
          class="img-fluid  border rounded"
          alt="Shahriar Tanvir Image"
          style="width: 450px"

        />
      </div>
    </div>
  </div>
</div>
