<!--Shahriar Tanvir, Centennial College, Student ID: 301160628-->

<main class="container-fluid text-light p-0">
  <div class="bg-dark bg-gradient">
    <div class="p-5 pb-1 mb-2 rounded-3 mx-auto">
      <div class="container-fluid mx-auto">
        <h1 class="display-5 fw-bold text-center"><%= title %></h1>
        <p class="text-center">Completed Projects</p>
        <hr />
      </div>
    </div>

    <div class="bg-secondary p-4">
      <div
        class="
          d-lg-inline-flex
          align-items-center
          justify-content-center
          align-content-center
        "
      >
        <div class="container-fluid mx-auto">
          <img
            class="img-fluid pe-lg-2"
            src="./Assets/images/Image Gallery.PNG"
            alt="Image Gallery App"
          />
        </div>



        <div class="container-fluid text-center">
          <h1>Favourites Image Gallery</h1>
          <ul style="list-style-type: none" class="p-0">
            <li>Using HTML, CSS, Javascript</li>
            <li>Displays a sliding gallery of images</li>
            <li>
              Opens images in another window and allows user to favourite them
            </li>
            <li>Displays favourites on original window</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container-fluid bg-dark p-4">
      <div
        class="
          d-lg-inline-flex
          align-items-center
          justify-content-center
          align-content-center
        "
      >
        <div class="container-fluid text-center mx-auto order-1">
          <img
            class="img-fluid pe-lg-2"
            src="./Assets/images/Bug Smasher.PNG"
            alt="Bug Smasher game image"
          />
        </div>

        <div class="container-fluid text-center order-0">
          <h1>Monster Smasher Game</h1>
          <ul style="list-style-type: none" class="p-0">
            <li>Using HTML, CSS, Javascript</li>
            <li>Allows user to click on the Bug to run the game</li>
            <li>User gets points for clicking on the Bug and speed increases as points increase by</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="bg-secondary p-4">
      <div
        class="
          d-lg-inline-flex
          align-items-center
          justify-content-center
          align-content-center
        "
      >
        <div class="container-fluid mx-auto">
          <img
            class="img-fluid pe-lg-2"
            src="./Assets/images/BMR Calculator.PNG"
            alt="BMR calculator image"
          />
        </div>
        <div class="container-fluid text-center">
          <h1>Basal Metabolic Rate (BMR) Calculator</h1>
          <ul style="list-style-type: none" class="p-0">
            <li>Using HTML, CSS, Javascript</li>
            <li>
              Allows user to enter their age, weight and height to determine BMR
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-dark p-4">
      <div
        class="
          d-lg-inline-flex
          p-4
          align-items-center
          justify-content-center
          align-content-center
        "
      >
        <div class="container-fluid mx-auto order-1">
          <img
            class="img-fluid pe-lg-2"
            src="./Assets/images/Table Generator.png"
            alt="Table Generator Image "
          />
        </div>

        <div class="container-fluid text-center">
          <h1>Table Generator</h1>
          <ul style="list-style-type: none" class="p-0">
            <li>Using HTML, CSS, Javascript</li>
            <li>Allows user to input Rows & Columns number</li>
            <li>
             Create a table according to user input
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-secondary p-4">
      <div
        class="
          d-lg-inline-flex
          p-4
          align-items-center
          justify-content-center
          align-content-center
        "
      >
        <div class="container-fluid mx-auto order-0">
          <img
            class="img-fluid pe-lg-2"
            src="./Assets/images/Register.png"
            alt="Register Image"
          />
          <img
            class="img-fluid pe-lg-2"
            src="./Assets/images/Login.png"
            alt="Login Image"
          />
          <img
          class="img-fluid pe-lg-2"
          src="./Assets/images/Add Contact.png"
          alt="Add Contact Image"
        />
        <img
            class="img-fluid pe-lg-2"
            src="./Assets/images/Add Contact List.png"
            alt="Contact list Image"
          />
          <img
            class="img-fluid pe-lg-2"
            src="./Assets/images/Contact List.png"
            alt="Contact List"
          />
        </div>
        <div class="container-fluid text-center order-1">
          <h1>Express Authentication</h1>
          <ul style="list-style-type: none" class="p-0">
            <li>Using Javascript, Node.js, Express.js</li>
            <li>User have to register first to log in</li>
            <li>User can login if he/she is authenticated</li>
            <li>After log in he/she can add Business Contact List which will add to database</li>
            <li>User can edit or delete their existing contact list</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
