<!--Shahriar Tanvir, Centennial College, Student ID: 301160628-->
<!--Services Section-->
<body class=" bg-secondary bg-gradient " style="background-repeat: no-repeat">
  
<main class="container ">
  <div class="p-5 mb-2 rounded-3 mx-auto text-light">
    <div class="container-fluid mx-auto">
      <h1 class="display-5 fw-bold text-center"><%= title %></h1>
      <p class="text-center">What can I do for you?</p>
      <hr />
    </div>
  </div>

  <div class="row align-items-center justify-content-center">
    <div class="col-8 col-lg py-3 mx-auto">
      <div
        class="card bg-dark p-4 rounded-2 text-light"
        style="width: 20rem; height: 20rem"
      >
        <i class="fas fa-at fa-10x card-img-top text-center"> </i>
        <div class="card-body">
          <h5 class="card-title">Web Design</h5>
          <p class="card-text">
            Design sites using the most current technology available
          </p>
        </div>
      </div>
    </div>
    <div class="col-8 col-lg py-3">
      <div
        class="card bg-dark p-4 rounded-2 text-light"
        style="width: 20rem; height: 20rem"
      >
        <i class="fas fa-code fa-10x card-img-top text-center"> </i>
        <div class="card-body">
          <h5 class="card-title">Software Development</h5>
          <p class="card-text">Construct logic for applications and sites</p>
        </div>
      </div>
    </div>

    <div class="col-8 col-lg py-3">
      <div
        class="card bg-dark p-4 rounded-2 text-light"
        style="width: 20rem; height: 20rem"
      >
        <i class="fas fa-user-tie fa-10x card-img-top text-center"> </i>
        <div class="card-body">
          <h5 class="card-title">Consultation</h5>
          <p class="card-text">
            Help your team with concept and implementation
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
